[submodule "terminal/color_schemes"]
	path = terminal/color_schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-autotag"]
	path = vim/bundle/vim-autotag
	url = git@github.com:craigemery/vim-autotag.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git@github.com:tpope/vim-haml.git
[submodule "vim/bundle/vim-vroom"]
	path = vim/bundle/vim-vroom
	url = git@github.com:skalnik/vim-vroom.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-hybrid"]
	path = vim/bundle/vim-hybrid
	url = git@github.com:w0ng/vim-hybrid.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim/bundle/one-dark.vim"]
	path = vim/bundle/one-dark.vim
	url = git@github.com:geoffharcourt/one-dark.vim.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "vim/bundle/vim-rake"]
	path = vim/bundle/vim-rake
	url = git@github.com:tpope/vim-rake.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "vim/bundle/vim-handlebars"]
	path = vim/bundle/vim-handlebars
	url = git@github.com:nono/vim-handlebars.git
[submodule "vim/bundle/mustache.vim"]
	path = vim/bundle/mustache.vim
	url = git@github.com:juvenn/mustache.vim.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/bundle/nova-vim"]
	path = vim/bundle/nova-vim
	url = https://github.com/trevordmiller/nova-vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/vim-css3-syntax"]
	path = vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/bundle/yats.vim"]
	path = vim/bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "terminal/tmux_setup/tmux-battery"]
	path = terminal/tmux_setup/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
