[submodule "terminal/color_schemes"]
	path = terminal/color_schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "terminal/tmux_setup/tmux-battery"]
	path = terminal/tmux_setup/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
